/* main scss file */

body {
  font-weight: 300;
  color: #333;
  font-size: 1.6em;
}

h1, h2, h3 {
  font-weight: 300;
  line-height: 1.6em;
}

p {
  color: #555;
  line-height: 2em;
}

img {
  max-width: 100%;
}

.center {
  text-align: center;
}

.container {
  max-width: 900px;
}

.text-shadow {
  text-shadow: 2px 3px 9px rgba(0, 0, 0, 0.7);
}

.shadow {
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.7);
  border-radius: 6px;
}

header {

  .download-btns {
    img {
      margin: 10px 10px 10px 10px;
    }
  }

  .row-header {
    padding-top: 120px;
    max-width: 600px;
    margin: 0 auto;
  }
}

.stripe {
  padding: 80px 0;

  &.greyed {
    background-color: $lightgrey;
  }

  img.no-margin {
    margin-bottom: -80px;
  }

  #team-banner {
    margin: 50px 0;
  }

  #ionic-logo {
    margin-top: 50px;
  }

  #node-logo {
    margin-top: 50px;
  }
}

.jumbotron1 {
    margin-bottom: 0px;
    background-position: 0% 25%;
    background-size: full;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.0em 0.0em 0.0em;
}

.jumbotron {
    position: relative;
    background: #000 url("../images/cover-in.jpg") center center;
    //background-color: #17d585; 
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    color: white;
    padding-bottom: 100px;
    padding-top: 0;
    margin: 0;
}

.logo-banner {
  max-width: 230px;
  margin: 0 auto;
}

.logo{
  float: center;
  margin-bottom: 50px;
}

.social-pad {
  padding: 5px;
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
  }

.screenshots img { 
    float:left;
    width: 25%;
}

.screenshots {
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
    .screenshots img { 
    width: 100%;
  }
}

#bloglist {
    list-style-type: none;
    padding: 0px;
}

.howto {
  padding: 50px 0 40px;

  .step-wrapper {
    padding: 0 20px 0 20px;
    position: relative;

    .step {
      padding: 20px;
      min-height: 85px;
      font-size: 1.1em;
      text-align: center;
      background-color: rgba(254, 201, 0, 0.8);
      text-align: center;
      color: #fff;
      font-weight: 400;
      font-size: 0.9em;
    }

    &:after {
      content: "\f061";
      position: absolute;
      top: 35px;
      right: -6px;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      color: rgba(254, 201, 0, 0.8);
    }

    &:last-child {
      &:after {
        content: '';
      }
    }
  }
}

.logo-header {
  margin: 20px 0;
  display: block;
}

img.cloudokilogo {
  max-width: 50px;
  display: inline-block;
}

.cloudoki-text {
  display: inline-block;
  margin-left: 10px;
  font-family: 'Lato';
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5em;
  position: relative;
  top: 3px;
}